.box-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 4rem;
}

.box-offert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 20px;
  padding: 20px 30px;
  background-color: #000;
  
  width: 100%;
  max-width: 600px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.box-icon {
  font-size: 10px;
  height: 60px;
  width: 60px;
  margin-bottom: 15px;
}

.box-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #fff;
}

.box-description {
  font-size: 16px;
  color: #9a9a9a;
}



@media (max-width: 1023px) {
  .box-container {
display: none;
    flex-direction: column;

  }

  .box-offert {

    width: 90%;
    max-width: 450px;
    margin: 0 auto; 
  }


  .box-title {
 
  }

  .box-description {
    /* font-size: 14px; */
  }
}

