:root {
  --background: #fff;
  --navigation: #fff;
  --container: #fff;
  --logoSlider: #fff;
  --footer: #fff;
}

html {
  background-color: #080808;
  scroll-behavior: smooth;
  background-size: cover;
  background-position: center;
  position: relative;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Bai Jamjuree";
  overflow-x: hidden; /* Ensures no horizontal scrollbar appears */
}

.icon {
  width: 7rem;
  height: auto;
  margin-left: -6%;
}

.homepage {
  width: 100%;
}
.home-p {
  margin-top: 4rem;
  font-size: 1.3rem;
}

.container,
.container-home {
  color: #e5e5e5;
  background: #00000021;
  padding: 4rem 2rem;
  text-align: center;
  margin: 3rem auto;
  border-radius: 5px;
  max-width: 80%;
  margin-bottom: 10rem;
}

.home {
  display: block;
  z-index: 10;
  color: #f5f3f5;
  background: transparent;
  position: relative;
}


.insurances-header {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
  color: #f5f3f5;
}

.text-container {
  z-index: 11;
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.image-container {
  z-index: 11;
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 500px;
}

.image-container img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.language-switcher {
  color: #ffffffa0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.language-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.language-icon.active,
.language-icon:hover {
  opacity: 1;
  transform: scale(1.05);
}

.home-buttons-container {
  width: 100%;
}

.contact-box-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.box {
  max-width: 300px;
  padding: 1rem;
  border-radius: 10px;
  background: rgba(1, 0, 0, 0.141);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease-out;
  opacity: 1;
  overflow: hidden;
}

.loader.hidden {
  opacity: 0;
  pointer-events: none; /* Prevents interaction with the hidden loader */
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Artega";
  transition: top 0.3s ease-in-out;
  width: max-content;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  scale: 1.3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.video-portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  margin: 4rem auto;
}
.hero-container img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.show-more-button {
  background-color: #f0f0f0;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.show-more-button:hover {
  background-color: #d4d4d4;
}

.video-box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.video-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  margin: 0;
  transition: background-color 0.3s ease;
}

.fade-in-up {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-button {
  position: absolute;
  top: -2%;
  right: -2%;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.close-button:hover {
  color: red;
}

@media only screen and (max-width: 980px) {
  .magic-text h1 {
    font-size: 1.2rem;
  }
  .contact-box-container {
    display: block;
  }
  .box {
    max-width: unset;
    margin: 1rem;
  }

  /* .container,
  .container-home {
    margin: 10% 2%;
  } */
}

@media (max-width: 980px) {
  .background-video {
    width: 240%;
  }
}

@media (max-width: 768px) {
  .video-portfolio {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 2rem auto;
  }

  /* .container,
  .container-home {
    padding: 2rem;
    margin: 2rem 1rem;
  } */

  .hero-title {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .magic-text h1 {
    font-size: 0.8rem;
  }
}

/* Fading in content when visible */
.content {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.content.visible {
  opacity: 1;
}

.button-box-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.button-box-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.offers-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  position: relative;
}

.offer-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  border-radius: 8px;
}

.offer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.offer-list {
  list-style-type: none;
  padding: 0;
}

.offer-item {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}
.navigation {
  background-color: red;
}

/* .card-5,
.card-1 {
  margin-left: 5rem;
}

.card-2,
.card-6 {
  margin-right: 5rem;
} */
/* .card-7,
.card-8 {
  width: 15rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
} */
.container-offers {
  position: relative;
  overflow: visible;
  padding: 20rem 2rem !important;
}

/* .card-7 {
  position: absolute;
  bottom: 0;
  left: 30%;
}
.card-8 {
  position: absolute;
  bottom: 0;
  right: 30%;
} */
.offer-video-4 {
  width: 110%;
  height: 100%;
  justify-content: center;
}

.middle-fama {
  position: absolute;
  left: 47.9%;
  top: 90%;
  transform: translate(-50%, 50%);
  width: auto;
  margin: 2rem;
  color: white;
  background-color: black;
  font-size: 2rem;
  z-index: 20;
}

.offer-card-wrapper {
  margin-top: -20rem;
}

@media (max-width: 980px) {
  .offer-cards {
    display: block;
    margin: 0 auto;
    justify-content: center;
  }
  .card-5,
  .card-1 {
    margin-left: 0rem;
  }
  .card-2,
  .card-6 {
    margin-right: 0rem;
  }
  .middle-fama {
    margin: 2rem;
  }
}
@media (max-width: 768px) {
  .offer-card {
    padding: 1rem;
  }
  .middle-fama {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
  .container-offers {
    padding-top: 15rem !important;
  }
}

/*---------------------------------------------------------*/

.about-us-container {
  height: max-content;
}
.container-offers {
  padding: 4rem 2rem;
  text-align: center;
  margin: 3rem auto;
  border-radius: 5px;
  max-width: 90%;
  margin-bottom: 10rem;
}
.border {
  border-width: 0;
}

/* In your CSS file */
