#offer-wrapper {position: relative;}
.parent-container {
    display: flex;
    justify-content: flex-end; /* Aligns child elements to the right */

}
.slider-container {
    width: 100%; /* Optional: Set the desired width */
    max-width: 1000px; /* Maintains the maximum width */
    overflow: visible;
 
}
  .slider-wrapper {
    display: flex;

    justify-content: flex-end;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 calc(80% / 2);
    max-width: calc(90% / 3);
 
    text-align: center;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
  }

  
  .slide-image {
    width: 80%;
    aspect-ratio: 5/7;
    /* min-height: 35rem; */
    height: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    object-fit: cover;
    
    /* filter: grayscale(100%);  */
  }
  
  .text-box {
    padding: 10px;
    text-align: left
  }
  
  .text-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
  
  }
  
  .text-box p {
    font-size: 1rem;
    color: #666;
  }

  .slider-btns {
    position: absolute;
    top: 10%;
    right: 4%;
  }

  .slider-btn {
    background: transparent;
    color: white;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
}




  /* .slider-btn:hover {
    background: rgba(0, 0, 0, 0.8);
  } */
  .container-offer-overflow {
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .slide {
      flex: 0 0 40%; /* Each slide takes up 50% of the container */
      max-width: 40%; /* Ensures it does not exceed 50% */
      text-align: center;
      overflow: hidden;
      padding: 0;
      box-sizing: border-box;
  }
  .slider-container {
    display: flex;
    justify-content: left; /* Centers the slides */
    overflow: scroll;
    max-width: min-content;

}
  /* .container-offer {
    overflow: scroll;
  } */
  .slider-btn {
    display: none;
  }
  }

  @media (max-width:1100px) {
    .slider-container {
      max-width: 900px; 
  }
  

  }
  @media (max-width:900px) {
    .slider-container {
      max-width: 768px; 
  }
  

  }